table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mg-left {
    margin-left: 10px;
}

.mg-bottom {
    margin-bottom: 15px;
}

.action-container {
    display: flex;
    align-items: center;
}