<h1 mat-dialog-title>{{'signup-page.signup' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="signupForm">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'signup-page.name' | translate}}</mat-label>
            <input matInput placeholder="{{'signup-page.name' | translate}}" formControlName="name">
            <mat-error>
                <span *ngIf="signupForm.controls.name.errors?.required">{{ 'required-or-invalid-field.mandatory' |
                    translate}}</span>
                <span *ngIf="signupForm.controls.name.errors?.pattern">{{ 'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'signup-page.password' | translate}}</mat-label>
            <input type="password" matInput placeholder="{{'signup-page.password' | translate}}"
                formControlName="password">
            <mat-error>
                <span *ngIf="signupForm.controls.password.errors?.required">{{ 'required-or-invalid-field.mandatory' |
                    translate}}</span>
                <span *ngIf="signupForm.controls.password.errors?.pattern">{{ 'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'signup-page.email' | translate}}</mat-label>
            <input matInput placeholder="{{'signup-page.email' | translate}}" formControlName="email">
            <mat-error>
                <span *ngIf="signupForm.controls.email.errors?.required">{{
                    'required-or-invalid-field.mandatory' |
                    translate}}</span>
                <span *ngIf="signupForm.controls.email.errors?.pattern">{{ 'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'signup-page.contact-number' | translate}}</mat-label>
            <input matInput placeholder="{{'signup-page.contact-number' | translate}}" formControlName="contactNumber">
            <mat-error>
                <span *ngIf="signupForm.controls.contactNumber.errors?.required">{{
                    'required-or-invalid-field.mandatory' | translate}}</span>
                <span *ngIf="signupForm.controls.contactNumber.errors?.pattern">{{ 'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="closeDialog()">{{'button.cancel' | translate}}</button>
    <button mat-button color="primary" (click)="handleSubmit()" [disabled]="!signupForm.valid">{{'button.signup' |
        translate}}</button>
</div>