.title {
    font-size: 22px;
    background-color: #3f51b5;
    color: #FFFFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.action {
    display: flex;
    justify-content: center;
}