<h1 mat-dialog-title>{{'forgot-password-page.forgot-password' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'forgot-password-page.email' | translate}}</mat-label>
            <input matInput placeholder="{{'forgot-password-page.email' | translate}}" formControlName="email">
            <mat-error>
                <span *ngIf="forgotPasswordForm.controls.email.errors?.required">{{'required-or-invalid-field.mandatory'
                    | translate}}</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">{{'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="closeDialog()">{{'button.cancel' | translate}}</button>
    <button mat-button color="primary" (click)="handleSubmit()"
        [disabled]="!forgotPasswordForm.valid">{{'button.send-password' | translate}}</button>
</div>