<div class="splash-screen__container">
    <div class="splash-screen__content">
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <div>
                <img class="splash-screen__logo" src="assets/images/bach-tuyet.jpg" [style.opacity]="logoOpacity"
                    alt="">
            </div>
            <div>
                <span class="text-center splash-screen__description">{{'common.label.cat-management-system' |
                    translate}}</span>
            </div>
        </div>
    </div>
</div>