<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error>
                <span *ngIf="loginForm.controls.email.errors?.required">This field is mandatory.</span>
                <span *ngIf="loginForm.controls.email.errors?.pattern">this field is invalid.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>
                <span *ngIf="loginForm.controls.password.errors?.required">This field is mandatory.</span>
                <span *ngIf="loginForm.controls.password.errors?.pattern">this field is invalid.</span>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button color="primary" (click)="handleSubmit()" [disabled]="!loginForm.valid">Login</button>
</div>