<div class="dashboard">
    <div class="container">
        <h2>{{'dashboard-page.dashboard' | translate}}</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard-page.category' | translate }}</h5>
                        <p class="card-text">{{ data.category }}</p>
                        <button class="btn btn-primary">{{ 'button.view-details' | translate }}</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard-page.product' | translate }}</h5>
                        <p class="card-text">{{ data.product }}</p>
                        <button class="btn btn-primary">{{ 'button.view-details' | translate }}</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard-page.bill' | translate }}</h5>
                        <p class="card-text">{{ data.bill }}</p>
                        <button class="btn btn-primary">{{ 'button.view-details' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>