<h1 mat-dialog-title>{{'login-page.login' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'login-page.email' | translate}}</mat-label>
            <input matInput placeholder="{{'login-page.email' | translate}}" formControlName="email">
            <mat-error>
                <span *ngIf="loginForm.controls.email.errors?.required">{{
                    'required-or-invalid-field.mandatory' | translate}}</span>
                <span *ngIf="loginForm.controls.email.errors?.pattern">{{ 'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>{{'login-page.password' | translate}}</mat-label>
            <input matInput type="password" placeholder="{{'login-page.password' | translate}}"
                formControlName="password">
            <mat-error>
                <span *ngIf="loginForm.controls.password.errors?.required">{{'required-or-invalid-field.mandatory' |
                    translate}}</span>
                <span *ngIf="loginForm.controls.password.errors?.pattern">{{'required-or-invalid-field.invalid' |
                    translate}}</span>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="closeDialog()">{{'button.cancel' | translate}}</button>
    <button mat-button color="primary" (click)="handleSubmit()" [disabled]="!loginForm.valid">{{'button.login' |
        translate}}</button>
</div>