<mat-toolbar color="primary" class="dark-toolbar">
    <mat-toolbar-row>
        <span [routerLink]="['home']" class="cursor-pointer">{{'common.label.cat-management-system' | translate
            }}</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">{{currentLanguage}}</button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let item of langArray" mat-menu-item (click)="changeLang(item)">{{item}}</button>
        </mat-menu>
        <span *ngIf="!checkTokenService.isToken()" class="span-right"
            (click)="openLoginDialog('300ms', '1500ms')">{{'common.label.login' | translate
            }}</span>
        <span *ngIf="!checkTokenService.isToken()" class="span-right"
            (click)="openSingupDialog('300ms', '1500ms')">{{'common.label.signup' | translate
            }}</span>
        <span *ngIf="!checkTokenService.isToken()" class=" span-right"
            (click)="openForgotPasswordDialog('300ms', '1500ms')">{{'common.label.forgot-password'
            | translate }}</span>
        <button *ngIf="checkTokenService.isToken()" mat-icon-button [matMenuTriggerFor]="menuProfile"
            aria-label="Example icon-button with a menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menuProfile="matMenu">
            <button mat-menu-item (click)="logoutFn('300ms', '1500ms')">
                <mat-icon>exit_to_app</mat-icon>
                <span>{{'button.logout' | translate}}</span>
            </button>
            <button mat-menu-item (click)="changePasswordFn('300ms', '1500ms')">
                <mat-icon>vpn_key</mat-icon>
                <span>{{'button.change-password' | translate}}</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>