<h1 mat-dialog-title>Forgot Password</h1>
<div mat-dialog-content>
    <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error>
                <span *ngIf="forgotPasswordForm.controls.email.errors?.required">This field is mandatory.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">this field is invalid.</span>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button color="primary" (click)="handleSubmit()" [disabled]="!forgotPasswordForm.valid">Send
        Password</button>
</div>