<app-header></app-header>
<div class="example-container">
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <mat-nav-list>
                <a class="mat-list-item" [routerLink]="['home']" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                    <span class="mat-list-text">Home</span>
                </a>
                <a class="mat-list-item" [routerLink]="['dashboard']" routerLinkActive="active">
                    <mat-icon>dashboard</mat-icon>
                    <span class="mat-list-text">Dashboard</span>
                </a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>